.sidebar{
    width: 100%;
    height: 500px;
    margin-left: 5px;
    justify-content: left;
    border-left: 2px solid black;
}

.sidebar-content{
    margin-left: 5px;
}

.yearList{
    list-style-type: none;
}

.articleList{
    list-style-type: none;
}
li {
    text-indent: -40px;
}