
@media all and (max-width: 5120px) and (min-width: 720px) {
    div.site-box{
        grid-template-columns: minmax(0, 22.5%) minmax(0%, 60%) minmax(0, 17.5%) minmax(0, 5%);
    }

  }

  @media all and (max-width: 720px) and (min-width: 0px) {
    div.site-box{
        grid-template-columns: minmax(0, 10%) minmax(0%, 80%) minmax(0, 10%);
    }
    p{
        font-size: 3vw;
    }
  }

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

div.loading-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-icon {
    animation: 2s cubic-bezier(0, 0.5, 0.9, 1) 0s infinite spin;
    max-width: 128px;
    max-height: 128px;
    margin-top: 5vw;
}

hr.divider{
    border-top: 2px solid black;
    width: 100%
}