div.site-box{
    display: grid;
    height:95%
}

.content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 100px;
    max-width: 100%;
}

@media all and (max-width: 2160px) and (min-width: 720px) {
    div.site-box{
        grid-template-columns: minmax(0, 22.5%) minmax(0%, 60%) minmax(0, 17.5%) minmax(0, 5%);
    }

  }

  @media all and (max-width: 720px) and (min-width: 0px) {
    div.site-box{
        grid-template-columns: minmax(0, 5%) minmax(0%, 90%) minmax(0, 5%);
    }
    p{
        font-size: 3vw;
    }
  }

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

div.loading-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-icon {
    animation: 2s cubic-bezier(0, 0.5, 0.9, 1) 0s infinite spin;
    max-width: 128px;
    max-height: 128px;
    margin-top: 5vw;
}

hr.divider{
    border-top: 2px solid black;
    width: 100%
}

a{
    text-decoration: none;
}