<div class="site-box">
    <div class="left-margin"></div>
        <div class = "content">
        <div class="header-picture">
            <app-header-picture> </app-header-picture>
        </div>
        
        <div class="info">
            <h1>Hello, I'm Ian</h1>
        
            <p> I'm a Computer Engineering Student at the University of Waterloo, as well as
                a former coop at <a href="https://www.amd.com/en">AMD</a>, <a href="https://www.opentext.com/">OpenText</a>, 
                and <a href="https://www.tangamsystems.com/">Tangam Systems Inc</a>.
                In my free time I enjoy coding, tinkering and pushing the limits of 3D printers, electrical hobbywork,
                rock climbing, knifemaking, and blacksmithing. I currently live in Canada
                but completed high school in Texas and have hopes of returning to the US sometime soon.
                <br/>
                <br/>
                In case you're interested in learning more about me and my projects, please feel
                free to check out my <a href="https://github.com/IHSten">GitHub</a>, <a href="https://linkedin.com/in/ian-steneker">LinkedIn</a>, or <a href="./resume.pdf">Resumé</a>,
                or see below for links to my blog (currently in progress), where I explore coding and other projects.
            </p>
        </div>
        
        <div class="further-content">
        </div>
    </div>
    <div class="right-margin"></div>
</div>
