

@media all and (max-width: 5120px) and (min-width: 720px) {
    div.site-box{
        grid-template-columns: minmax(0, 32.5%) minmax(0%, 35%) minmax(0, 32.5%);
    }

  }

  @media all and (max-width: 720px) and (min-width: 0px) {
    div.site-box{
        grid-template-columns: minmax(0, 5%) minmax(0%, 90%) minmax(0, 5%);
    }
    p{
        font-size: 3vw;
    }
  }

.header-picture {
    animation: 0.75s cubic-bezier(0, 0.75, 0.9, 1) 0s 1 slideInFromLeft;
}

.info {
    animation: 0.75s cubic-bezier(0, 0.75, 0.9, 1) 0s 1 slideInFromRight;
    min-width: 100%;
    max-width:100%;
    transition: 1s;
    right: 0;
}